body {
  background-color: black;
  padding: 0px 270px;
  margin: auto;
}

h1,
h2,
h3 {
  color: white;
  line-height: 48px;
  font-size: 40px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40;
}

div .first {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40;
}

div .second {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48;
}
.container {
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white;
}

.position-work-button {
  display: flex;
  justify-content: center;
}

.work-button {
  background-color: #5be3ec;
  color: rgb(11, 51, 53);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 18px 18px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(34, 201, 166, 0.2);
  display: inline-block;
}

.work-button:hover {
  background-color: #5be3ec;
  color: rgb(208, 242, 243);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

@keyframes transform-image {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.hand:hover {
  animation-name: transform-image;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.nav-link {
  border-color: #5be3ec !important;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.nav-link:hover {
  background-color: #5be3ec;
  color: black !important;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}
